@main-color: #f56363;

body {
  font-family: 'Source Sans Pro' !important;
  overflow-x: hidden;
}

.hero {
  background: url('../img/header.jpg') center center no-repeat scroll;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  .title {
    h1 {
      font-weight: 600;
      font-size: 100px;
    }

    .logo {
      font-size: 80px;
      padding-bottom: 80px;
    }

    p {
      font-size: 24px;
    }
  }

  .hero-btn {
    display: flex;
    justify-content: center;
  }

  .btn {
    background: @main-color;
    font-size: 24px;
    font-weight: 300;
    color: #fff !important;
    padding: 10px 30px;

    .fa {
      margin: 0 5px;
    }
  }
}

.hero.patrick {
  background-image: url('../img/patrick-bet-david.jpg');

  .title {
    margin-top: 30vh;
  }
}

.hero.chad {
  background-image: url('../img/chad-mureta.jpg');

  .title {
    margin-top: 30vh;
  }
}

.story {
  margin-top: 30px;
  margin-bottom: 30px;
  word-wrap: break-word;
  display: flex;

  .buy {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buy-img img {
    width: 90%;
  }

  .flex-25 {
    flex-basis: 25%;
  }

  .flex-75 {
    flex-basis: 75%;
  }
}

.buy-button {
  margin-top: 15px;
}

footer {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.stories-list {
  li {
    margin-top: 24px;
  }
  .img {
    text-align: center;

    img {
      width: 90%;
    }
  }
}

.full-story {
  margin-top: 50px;
}

.full-story-title {
  text-align: center;
}

.books {
  display: flex;
  justify-content: space-between;
}

.share {
  text-align: center;

  span {
    margin: 0 5px;
  }

  .twitter {
    position: relative;
    top: 5px;
  }

  .reddit {
    position: relative;
    top: -2px;
  }
}

.subscribe {
  background: @main-color;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;

  .subscribe-form {
    display: flex;
    justify-content: center;
  }

  .email-div {
    flex-basis: 270px;
    margin-right: 10px;
  }

  .email {
    width: 100% !important;
  }

  .btn-div {
    // flex: 2 8;
  }
}

@media (max-width: 470px) {

  .hero {
    .title {
      margin-top: 0 !important;
    }

    h1 {
      font-size: 30px !important;
    }

    h2 {
      font-size: 20px !important;
    }

    .subtitle {
      height: 30vh;
      text-overflow: ellipsis;
    }
  }

  .story .buy {
    height: auto;
    display: block;
  }

  .logo {
    padding-bottom: 0 !important;
  }

  .books {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .story {
    display: block;
  }
  .stories-list .buy-button {
    margin-top: 0;
  }
}
