@main-color: #f56363;

body {
  font-family: 'Source Sans Pro' !important;
  overflow-x: hidden;
}

.hero {
  background: url('../img/header.jpg') center center no-repeat scroll;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  .title {
    h1 {
      font-weight: 600;
      font-size: 144px;
    }

    p {
      font-size: 24px;
    }
  }

  .hero-btn {
    display: flex;
    justify-content: center;
  }

  .btn {
    background: @main-color;
    font-size: 24px;
    font-weight: 300;
    color: #fff !important;
    padding: 10px 30px;

    .fa {
      margin-right: 5px;
    }
  }
}

.story {
  margin-top: 30px;
  margin-bottom: 30px;
  word-wrap: break-word;
  display: flex;

  .buy {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex-25 {
    flex-basis: 25%;
  }

  .flex-75 {
    flex-basis: 75%;
  }
}

.buy-button {
  margin-top: 15px;
}

footer {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
